[init]
	defaultBranch = main
; user config
[user]
	email = sudarshan61kv@gmail.com
	name = Sudharshan V
    signingkey = sudarshan61kv@gmail.com
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[alias]
    remotes = remote -v
    branches = branch -a
    tags = tag -l
[pull]
    rebase = false
